.bg{
  background-image: url('../Img/Frame1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.text-background{
    background-color:rgba(0, 0, 0, 0.575);
    height: auto;
    color: white;
}

.bg-middle{
    background-image: url('https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg');
    height: auto;
    width: auto;
    background-position: center;

}