.bg-delivery{
    background-image:url('https://images.pexels.com/photos/20818861/pexels-photo-20818861.jpeg') ;
background-position: center;
}

.error-msg {
    min-height: 20px; /* adjust if needed */
    font-size: 14px;
}