.img-1{
    object-fit: cover;
object-position: center 70%;
}

.img-2{
    object-fit: cover;
    object-position: center 50%;

}

.img-3{
    object-fit: cover;
    object-position: center 90%;

}

.brands-bg{
    background-color: saddlebrown;
    
}

.product-image {
    width: 75%;;
    height: 250px;          /* fixed box */
    object-fit: cover;      /* IMPORTANT: fills box without distortion */
    object-position: center;
    background: #ececec;    /* optional nice fallback */
    border-radius: 10px;
}