*{
    box-sizing: border-box;

}


.main-sec{
    background-color: rgb(255, 255, 255);
    height: 770px;
    width:70%;
    margin: auto;
    margin-top: 50px;
}


.headder h1{
text-align: right;
margin-right: 100px;
margin-top: -692px;
 }

.img1{
    margin-top: 30px;
    margin-left: 170px;
    transition:1s 
}

.img1:hover{
   transform:scale(1.2);
}

.img-sec{
   margin-top: 20px;
   margin-left: 50px;
}

.img-sec img{
   transition:1s ;
   cursor: pointer;
}

.img-sec img:hover{
   transform:scale(1.4) ;
}

 .product-info{
    margin-left: 58%;
    margin-top: 40px;
    height: 490px;
    width: 500px;
    border: 1px solid black;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 2%;
 }

 .product-info h2{
    margin-bottom: 25px;
    font-weight: 100;
 }

 .PI{
    color: rgb(64, 172, 140);
 }

 
 
 .btn-sec{
    margin-top: 50px;
 }

 .btn-order{
    height: 60px;
    width: 200px;
    background-color: rgb(50, 103, 182);
    color: white;
    margin-right:30px ;
    font-size: 22px;
    cursor: pointer;
    border: 2px solid rgb(50, 103, 182);


    

 }

.btn-order:hover{
   background-color: rgb(250, 250, 250);
   border-color:rgb(13, 23, 121) ;
   color: rgb(13, 23, 121);
  
   
}




 .btn-cart1{
    height: 60px;
    width: 200px;
    background-color: rgb(16, 139, 67);
    border: 2px solid rgb(16, 139, 67);
    color: #ffffff;



        
    font-size: 22px;
    cursor: pointer;


 }

 .btn-cart1:hover{
   background-color: rgb(255, 255, 255);
    border: 1px solid green;
    color: rgb(34, 139, 34);
 }