*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin-top: 2%;
    
}
.user-info-sec{
    height: 220px;
    width: 350px;
    background-color: rgb(207, 222, 230);
    align-items: center;
    margin: auto;
    margin-top: -235px;
    margin-right: 650px;
    padding-top: 60px;
    padding-left:60px;    
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 14%;
}

.user-info-sec h3{
margin-top: -20px;
margin-bottom: 30px;


}

#user-img {
margin-top: 120px;
margin-left: 450px;
}